<template>
  <div id="loginBox">
    <div class="titleBox"></div>
    <p class="title">New Blog</p>
    <form @submit.prevent="submit">
      <div class="accountBox" >
        <label class="accountLabel" name="title">Title:</label>
        <input class="reInput" id="btInput" v-model="title"/>
      </div>
      <div class="passwordBox" >
        <label class="passwordLabel" name="content">content:</label>
        <input class="reInput2" id="bcInput" v-model="content"/>
      </div>
      <p>
        <button class="btn" id="bBtn" type="submit" :disabled="submitStatus === 'PENDING'">Submit</button>
      </p>
      <div id="note1" class="note" hidden>Wrong Password</div>
    </form>
  </div>
</template>

<script>
/* eslint-disable */
    import Vue from 'vue'
    import VueForm from 'vueform'
    import Vuelidate from 'vuelidate'
    import VueSweetalert from 'vue-sweetalert'
    import BlogService from '@/services/blogService'
    import { required, minLength, between } from 'vuelidate/lib/validators'

    Vue.use(VueForm, {
        inputClasses: {
            valid: 'form-control-success',
            invalid: 'form-control-danger'
        }
    })

    Vue.use(Vuelidate)
    Vue.use(VueSweetalert)

    var url=window.location.href;
    var arr=url.split("?");
    var arr2=arr[1].split("&");
    var userId=arr2[0].split("=")[1];
    var userName=arr2[1].split("=")[1];
    // var userId="sdsd";
    // var userName="syf";
    // console.log(userName);
    // console.log(userId);

    export default {
        name: 'Donate',
        data () {
            return {
                title:"",
                content:"",
                submitStatus: null,
                blogInfo:{

                }
            }
        },
        validations: {
            // account: {
            //     required,
            //     between: between(1, 15)
            // },
            // password: {
            //     required,
            //     between: between(1, 15)
            // }
        },
        methods: {
            submit () {
                console.log('submit!')
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
                    // do your submit logic here
                    this.submitStatus = 'PENDING'
                    setTimeout(() => {
                        this.submitStatus = 'OK'
                        var blogInfo = {
                            title: this.title,
                            content: this.content,
                        }
                        this.blogInfo = blogInfo
                        this.loginUser(this.blogInfo,userId)
                    }, 500)
                }
            },
            loginUser: function (blogInfo,userId) {
                BlogService.addBlog(blogInfo,userId)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        console.log(response.data.message)

                        this.$router.push({ path:'/userHome?id=11&name='+userName})
                    })
                    .catch(error => {
                        this.errors.push(error)
                        console.log(error)
                    })
            }
        }
    }
</script>

<style>
  #loginBox{
    width:470px;
    height:380px;
    /*background: #88EE88;*/
    margin-left: 37%;
    margin-top:10%;
    position: relative;
  }
  .titleBox{
    height:30px;
  }
  .title{
    font-size: 40px;
    font-family: YouYuan;
    margin-left: 100px;
  }
  .reInput{
    margin-left: 10px;
    position: absolute;
    left:70px;
  }
  .reInput2{
    width:500px;
    margin-left: 10px;
    position: absolute;
    left:70px;
  }
  .btn{
    position: absolute;
    left:125px;
    top:220px;
  }
  .note{
    position:absolute;
    top:270px;
  }

</style>
