<template>
  <div id="loginBox">
    <div class="titleBox"></div>
    <p class="title">Login</p>
    <form @submit.prevent="submit">
      <div class="accountBox" >
        <label class="accountLabel" name="account">Account:</label>
        <input class="reInput" id="laInput" v-model="account"/>
      </div>
      <div class="passwordBox" >
        <label class="passwordLabel" name="password">Password:</label>
        <input class="reInput" id="lpInput" v-model="password"/>
      </div>
      <p>
        <button class="btn" id="lBtn" type="submit" :disabled="submitStatus === 'PENDING'">Submit</button>
      </p>
      <div id="note1" class="note" hidden>Wrong Password</div>
    </form>
  </div>
</template>

<script>
/* eslint-disable */
    import Vue from 'vue'
    import VueForm from 'vueform'
    import Vuelidate from 'vuelidate'
    import VueSweetalert from 'vue-sweetalert'
    import UserService from '@/services/userService'
    import { required, minLength, between } from 'vuelidate/lib/validators'

    Vue.use(VueForm, {
        inputClasses: {
            valid: 'form-control-success',
            invalid: 'form-control-danger'
        }
    })

    Vue.use(Vuelidate)
    Vue.use(VueSweetalert)

    export default {
        name: 'Donate',
        data () {
            return {
                account:"",
                password:"",
                submitStatus: null,
                userInfo:{

                }
            }
        },
        validations: {
            // account: {
            //     required,
            //     between: between(1, 15)
            // },
            // password: {
            //     required,
            //     between: between(1, 15)
            // }
        },
        methods: {
            submit () {
                console.log('submit!')
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
                    // do your submit logic here
                    this.submitStatus = 'PENDING'
                    setTimeout(() => {
                        this.submitStatus = 'OK'
                        var userInfo = {
                            account: this.account,
                            password: this.password,
                        }
                        this.userInfo = userInfo
                        console.log('Submitting in DonationForm : ' + JSON.stringify(this.userInfo, null, 5))
                        this.loginUser(this.userInfo)
                    }, 500)
                }
            },
            loginUser: function (userInfo) {
                UserService.login(userInfo)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        console.log(response.data.message)
                        if(response.data.message=="Wrong password"){
                            document.getElementById("note1").removeAttribute("hidden");
                        }else if(response.data.message=="Login successfully"){
                            this.$router.push({ path:'/userHome?id=11&name='+response.data.name})
                        }
                        // this.$router.push({ path:'/Login'})
                    })
                    .catch(error => {
                        this.errors.push(error)
                        console.log(error)
                    })
            }
        }
    }
</script>

<style>
  #loginBox{
    width:470px;
    height:380px;
    /*background: #88EE88;*/
    margin-left: 37%;
    margin-top:10%;
    position: relative;
  }
  .titleBox{
    height:30px;
  }
  .title{
    font-size: 40px;
    font-family: YouYuan;
    margin-left: 100px;
  }
  .reInput{
    margin-left: 10px;
    position: absolute;
    left:70px;
  }
  .btn{
    position: absolute;
    left:125px;
    top:220px;
  }
  .note{
    position:absolute;
    top:270px;
  }

</style>
