<template>
  <div id="box">
    <div class="topBox">
      <input id="searchInput"/>
      <button id="searchBtn" @click="search">Search</button>
      <button id="userBtn" @click="showAllUser">Search</button>
    </div>
    <div id="leftBox">
      <div id="picBox"></div>
      <div id="nameBox">{{name}}</div>
      <button class="addBtn" id="aBtn" @click="addBlog">AddBlog</button>
    </div>
    <div id="rightBox">
      <!--      <div class="blogsBox">-->
      <!--          <div class="blog-title">sdad</div>-->
      <!--          <div class="blog-content">ssssss</div>-->
      <!--          <div class="blog-comment">-->
      <!--            <div class="blog-comment-pic"></div>-->
      <!--            <div class="blog-comment-nac">Archie:</div>-->
      <!--          </div>-->
      <!--      </div>-->
      <!--      <div class="blogsBox">-->

      <!--      </div>-->
    </div>
  </div>
</template>
<script>
/* eslint-disable */
    import UserService from '@/services/userService'
    import BlogService from '@/services/blogService'
    import CommentService from '@/services/commentService'


    // var url=window.location.href;
    // var arr=url.split("=");
    // var name=arr[1];
    // console.log(name);
    // var userId2;
    //
    var url=window.location.href;
    var arr=url.split("?");
    var arr2=arr[1].split("&");
    var name=arr2[1].split("=")[1];
    var userId2;

    export default {
        data () {
            return {
                userInfo:{},
                blogs:{},
                name,
                userId2
            }
        },
        // Fetches Donations when the component is created.
        created () {

            this.getUserInfo(name)
        },
        methods: {
            showAllUser(){
                this.$router.push({ path:`/showAllUser`})
            },
            search(){
                var si = document.getElementById("searchInput");
                this.$router.push({ path:`/userHome2?userId=${name}&name=${si.value}`})
            },
            addBlog(){
                this.$router.push({ path:`/blogAdd?userId=${userId2}&name=${name}`})
            },
            getUserInfo: function (name) {
                UserService.findUserByName(name)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        this.userInfo = response;
                        console.log(this.userInfo.data._id);
                        userId2=this.userInfo.data._id;
                        BlogService.findBlogById(response.data._id)
                            .then(response => {
                                // JSON responses are automatically parsed.
                                this.blogs = response.data;
                                console.log(this.blogs)
                                var rightBox = document.getElementById("rightBox");
                                for(let i=0;i<this.blogs.length;i++){
                                    // var comment;
                                    // var user;
                                    CommentService.findCommentByBlogId(this.blogs[i]._id)
                                        .then(response => {
                                            // JSON responses are automatically parsed.
                                            if(response.data.length==0){
                                                let comment="";
                                                let user="";
                                                var blogBox = document.createElement('blogBox');
                                                blogBox.innerHTML=`<div class="blogsBox"><div class="blog-title">${this.blogs[i].title}</div><div class="blog-content">${this.blogs[i].content}</div></div>`
                                                blogBox.className="blogsBox";
                                                rightBox.appendChild(blogBox);
                                            }else{
                                                let comment="";
                                                let user="";
                                                comment=response.data[0].content;
                                                console.log(comment);
                                                // userId2=response.data[0].userId;
                                                // console.log(response);
                                                UserService.findUserByUserId(response.data[0].userId)
                                                    .then(response => {
                                                        // console.log(response);
                                                        user=response.data.name;
                                                        // console.log(user);
                                                        console.log(comment);

                                                        var blogBox = document.createElement('blogBox');
                                                        blogBox.innerHTML=`<div class="blogsBox"><div class="blog-title">${this.blogs[i].title}</div><div class="blog-content">${this.blogs[i].content}</div><div class="blog-comment"><div class="blog-comment-pic"></div><div class="blog-comment-nac">${user}:${comment}</div></div></div>`
                                                        blogBox.className="blogsBox";
                                                        rightBox.appendChild(blogBox);
                                                    })
                                                    .catch(error => {
                                                        this.errors.push(error)
                                                        console.log(error)
                                                    })
                                            }

                                        })
                                        .catch(error => {
                                            this.errors.push(error)
                                            console.log(error)
                                        })

                                    // var blogBox = document.createElement('blogBox');
                                    // blogBox.innerHTML=`<div class="blogsBox"><div class="blog-title">${this.blogs[i].title}</div><div class="blog-content">${this.blogs[i].content}</div><div class="blog-comment">${comment}</div></div>`
                                    // blogBox.className="blogsBox";
                                    // rightBox.appendChild(blogBox);
                                }
                            })
                            .catch(error => {
                                this.errors.push(error)
                                console.log(error)
                            })
                        // getBlogByUser(this.userInfo.data._id);
                    })
                    .catch(error => {
                        this.errors.push(error)
                        console.log(error)
                    })
            }
        }
    }
</script>
<style>
  #box{
    width:100%;
    height: 2000px;
    background:#eee;
    position:relative;
  }
  .topBox{
    width:100%;
    height:150px;
    background:blue;
    position: relative;
  }
  #searchInput{
    width: 350px;
    position: absolute;
    left: 400px;
    top:50px;
  }
  #searchBtn{
    width:100px;
    height: 30px;
    position: absolute;
    top:50px;
    left: 800px;
  }
  #leftBox{
    width:300px;
    height:1500px;
    border-right: 1px solid #ddd;
  }
  #picBox{
    width:150px;
    height:150px;
    background:url("../assets/homePic.png");
    background-size: cover;
    position:absolute;
    left:75px;
    top:200px;
  }
  #nameBox{
    width:100px;
    height:100px;
    /*background:red;*/
    position:absolute;
    left:120px;
    top:380px;
    font-size: 30px;
  }
  .addBtn{
    width: 85px;
    position: absolute;
    top:500px;
    left: 115px;
    background: #aaa;
    border-radius: 5px;
    font-size: 20px;
  }
  #rightBox{
    width:1000px;
    height:1500px;
    /*background: red;*/
    position: relative;
    left: 310px;
    top:-1500px;
  }
  .blogsBox{
    width:1000px;
    height: 200px;
    /*background: purple;*/
    position: relative;
    border-bottom: 1px solid #ddd;
  }
  .blog-title{
    font-size: 30px;
    border-bottom: 1px solid #fff;
  }
  .blog-content{
    font-size: 20px;
    word-wrap:break-word;
    border-bottom: 1px solid #fff;
  }
  .blog-comment-pic{
    width: 30px;
    height: 30px;
    background: url("../assets/comment.png");
    background-size:cover ;
  }


</style>
